.body {
    margin: 0;
}


.wrapper {
    margin: auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 80px;
}

.logo {
    width: 190px;
    height: 35px;
    background: url('img/logo.svg');
}


.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.menu__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity 0.5, width 0.5;
}

.menu__item:hover {
    opacity: 0.5;
}

 .menu__item:hover::after, .menu__item_active::after {
     opacity: 1;
     width: 100%;
}

.menu__item:last-child {
    margin-right: 0;
}

.main {
    padding: 0 63% 300px 0;
    background: top right no-repeat url('img/mainimg.svg');
    background-size: 770px 657px;
}

.main__title {
    margin: 205px 0 30px 0;
    font: bold 73px/94px serif, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
    background: #ECF3FF;
}

.main__subtitle {
    margin: 0 0 40px 0;
    font: 20px/23px roboto, arial, helvetica, sans-serif;
}

.main__button {
    font: 14px/16px roboto, arial, helvetica, sans-serif ;
    display: inline-block;
    padding: 20px 50px;
    
    color: white;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5;
}

.main__button:hover {
    opacity: 0.5;
}

@media (max-width: 775px) {
    .body {
        margin: 0;
    }
    .wrapper {
        width: 90%;
    }
    .menu{
         display: none;
    }
    .header {
        margin-bottom: 28px ;
    }
    .logo {
        width: 36px;
        height: 35px;
        background: url('img/logomini.svg');
    }

    #menu__toggle {
        opacity: 0;
      }

      .menu__btn {
        display: flex;
        align-items: center; 
        position: fixed;
        top: 32px;
        left: 325px;
        width: 25px;
        height: 17px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;    
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }

      .menu__item {
        display: block;
        padding: 24px;
        color: black;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }

    .main {
        text-align: center;
        margin-bottom: 32px;
        padding: 74% 0 0;
        background-size: 74%;
        background-position: top center;
    }
    .main__title {
        margin-bottom: 44px;
        font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
    }
    .main__subtitle {
        margin-bottom: 25px;
        font: 500 16px/19px roboto, arial, helvetica, sans-serif;
    }
    .main__button {
        font: 500 14px/16px roboto, arial, helvetica, sans-serif;
    }
}

/* @media (min-width: 1920px) {
    .main__title {
        margin: 220px 0 40px 0;
    } */
}

@media (max-width: 1366px) {
    .wrapper {
        width: 67%;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 91%;
    }
}

@media (min-width: 775px) {
    .hamburger-menu{
        display: none;
    }
}